
@media (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
    .swiper-navBtn::before,
    .swiper-navBtn::after {
        display: none;
    }
    .deputados-ativos {
        width: 90%;
        font-size: 1rem;
    }
    .container-busca {
        width: 90%;
    }
}
@media (max-width: 500px) {
    #input-busca {
        font-size: 10px;
    }
}