@media (max-width: 1108px) {
    .cards-desenvolvedores {
        flex-wrap: wrap;
    }
    .card-dev {
        margin: 10px 10px;
    } 
}
@media (max-width: 850px) {
    .cards-desenvolvedores {
        flex-wrap: wrap;
        margin: 0;
    }
}
@media (max-width: 617px) {
    .card-dev {
        width: 90%;
    }
}
@media (max-width: 325px) {
    
    .desenvolvedores-title {
        position: relative;
        margin-bottom: 5px;
    }
}