/* Em Produção */
@media (max-width: 1200px) {
    .TextDespesas{
        width: 100%;
        
    }
}
@media (max-width: 850px) {
    .nomeCivil {
        font-size: 1.5em;
        margin-top: .2em;
    }
}

@media (max-width:660px) {
    .nomeCivil {
        font-size: 1.2em;
        margin-top: .2em;
    }
    .TextDespesas{
        margin: 0;
        font-size: 1.5em;
        padding-top: 1em;
    }
    .nomeEleitoral, 
    .status, 
    .emailDeputado,
    .fornecedor, p {
        font-size: .8em;
    }
}
@media(max-width: 610px) {
    .container-deputadoBusado {
        flex-direction: column;
        text-align: center;
    }
    .imgBusca{
        margin-right: 0;
        margin-bottom: 10px;
    }
    .nomeCivil {
        font-size: 1.5em;
    }
    .nomeEleitoral, 
    .status, 
    .emailDeputado,
    .fornecedor, p {
        font-size: 1em;
        text-align: center;
    }
}
@media(max-width: 538px) {
    .container-busca {
        width: 95%;
    }
    #input-busca{
        font-size: 9px; 
        padding: 7px;
     }
     .btn-buscar {
         padding: 6px;
         width: 90%;
     }
}
@media(max-width: 427px) {
    .cardsDespesas {
        width: 100%;
        margin: 5px 0 5pxpx 0;
    }
    .sectionDespesasCards {
        width: 100%;
    }
}
@media (max-width: 380px) {
    .nomeCivil {
        font-size: 1.2em;
    }
    .TextDespesas {
        font-size: 1.2em;
    }
    .nomeEleitoral, 
    .status, 
    .emailDeputado,
    .fornecedor, p {
        font-size: .8em;
        text-align: center;
    }
    .infoCard {
        justify-content: space-around;
    }
    .valores {
        font-size: 1em;
    }
    .linkDocumento{
        width: 10em;
        padding-left: .8em;
        margin-left: 2.5em;
    }
    
}