.container-busca {
    background-color: rgba(255, 255, 255, 0.962);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}
.buscar-deputado {
    font-size: 20px;
    color: rgb(48, 118, 48);
    max-width: 90%;
    margin-top: 20px;
}
#input-busca {
    border-radius: 10px;
    font-size: 16px;
    max-width: 90%;
    margin-top: 15px;
    width: 90%;
    padding: 10px;
}
.btn-buscar{
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 125, 71); 
    margin: 20px;
    padding: 10px;
    width: 200px;
    color: #Fff;
    transition: 0.3s ease-in-out;
}
.btn-buscar:hover {
    background-color: rgb(25, 95, 25);
    transform: scale(1.01);
}
.ativo {
    display: none;
}
.busca {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   flex-direction: column;
}

/* Restul deputado  */
.DeputadoBuscado {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-deputadoBusado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75rem;
}
.imgBusca {
    text-align: center;
    width: 13rem;
    margin-right: 3.9rem;
    border-radius: 5px ;
}
.infoDeputado {
    margin-bottom: 15px;
}
.siglaPartido {
    margin-bottom: 3rem;
}
.nomeCivil {
    font-weight: 600;
    font-size: 2.3rem;
}
.dadosPessoais{
    margin-top: 1em;
}
.TextDespesas{
    margin: 1.1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    width: 75rem;
}
.sectionDespesasCards {
    display: flex;
}
.cardsDespesas {
    border-radius: 5px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    margin: 1.2em;
    width: 25em;
}
.tipoDocumento {
    text-align: center;
    margin: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
}
.infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13em;
    margin: 1rem;
}
.valores {
    font-size: 1.3em;
    font-weight: bold;
}
.fornecedor {
    font-size: 1em;
    text-transform: uppercase;
}
.linkDocumento {
    background-color: #Fff;;
    border-radius: 5px;
    width: 15em;
    padding-left: 3.8em;
}
.linkDocumento:hover {
    color: rgb(170, 78, 78);
}
