.rodape {
    text-align: center;
    margin: 3.5rem;
}
.rodape .texto-rodape {
    font-size: 1.2em;
    font-weight: bold;
}
.copy {
    font-size: 14px;
    font-style: italic;
}
@media (max-width: 768px) {
    .rodape .texto-rodape {
        font-size: 0.8em;
    }
}
@media (max-width: 510px) {
    .rodape .texto-rodape {
        font-size: 0.4em;
    }
}