/* Buscar deputado */
.container-busca {
    background-color: rgba(255, 255, 255, 0.962);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2px 0;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}
.buscar-deputado {
    font-size: 20px;
    color: rgb(48, 118, 48);
    max-width: 90%;
    margin-top: 20px;
}
#input-busca {
    border-radius: 10px;
    font-size: 16px;
    max-width: 90%;
    margin-top: 15px;
    width: 90%;
    padding: 10px;
}
.btn-buscar{
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 125, 71); 
    margin: 20px;
    padding: 10px;
    width: 200px;
    color: #Fff;
    transition: 0.3s ease-in-out;
}
.btn-buscar:hover {
    background-color: rgb(25, 95, 25);
    transform: scale(1.01);
}
.ativo {
    display: none;
}
.busca {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
   flex-direction: column;
}

/* Restul deputado  */
.DeputadoBuscado {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

 .container-deputadoBusado {
    display: flex;
    margin: 30px;
    width: 1050px;
}
.imgBusca {
    text-align: center;
    width: 13rem;
    margin-right: 3.9rem;
    border-radius: 5px ;
}
.imgBusca img {
    width: 100%;
    object-fit: cover;
}
.descriscao {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-transform: uppercase;
}
.infoDeputado {
    margin-bottom: 15px;
}
.siglaPartido {
    margin-bottom: 3rem;
}
.nomeCivil {
    font-weight: 600;
    font-size: 2.3rem;
}
.despesasInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardDespesas {
    width: 450px;
    margin: 20px;
    padding: 10px;
    height: 300px;
    box-shadow: 0 .2rem 1.5rem rgba(0,0,0,.1);

}
