.cards-desenvolvedores{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.card-title {
    font-weight: bold;
}
.card-linguagem {
    font-size: 10px;
}
.card-redes-sociais {
    margin-left: 3.5rem;
}
.bi{
    font-size: 1.5rem;
}
.bi-linkedin {
    color: #0A66C2;
}