.container_cards-deputados {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    flex-direction: column;
    margin: 30px 0;
    font-family: 'Poppins', sans-serif;
}
.deputados-ativos {
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.819);
    width: 500px;
    text-align: center;
    border-radius: 30px 0 30px 0;
    padding: 5px 0;
}
.container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container {
    max-width: 1300px;
    width: 100%;
    margin: 50px 0;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;

}
.card {
    border-radius: 25px;
    background: #fff;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(71, 125, 71);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(71, 125, 71);
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid  rgb(71, 125, 71);;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.descricao {
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.comunicao {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkComunicacao {
    margin: 0 5px;
    font-size: 14px;
    transition: .3s ease-in-out;
}
.linkComunicacao a:hover {
    color: rgb(200, 105, 105);
}
.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: rgb(71, 125, 71);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: rgb(48, 118, 48);
    transform: scale(1.02);
}
.swiper-navBtn {
    color: #fff;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: rgb(71, 125, 71);
    transform: scale(1.1);
}
.swiper-pagination-bullet {
    background-color: rgb(71, 125, 71);
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: rgb(71, 125, 71); 
}
.swiper-button-next {
    right:0;
}
.swiper-button-prev {
    left:0;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
    color: #Fff;
}


