#sobre {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 2% 10% 2% 10%;
    margin-top: 130px;
}
#sobre .sobre-title {
    text-align: center;
    font-weight: bold;
}
.sobre-texto {
    font-size: 16px;
    color:  rgba(255, 255, 255, 0.733);
    text-align: center;
}
.linkFigma {
    text-align: center;
    transition: 0.3s ease-in-out;
}
.linkFigma:hover {
    color: blue;
    transform: scale(1.1);
}